# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
.env/

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Streamlit secrets
.streamlit/secrets.toml

# Local data/logs
*.log
*.db
*.sqlite3